.btn {
    position: absolute;
    top: 20px;
    right: 20px;
    width: 30px;
    height: 30px;
    background-color: inherit;
    border-radius: 5px;
    border: 1px solid #3E1671;
    color: #9E78CF;
    text-align: center;
}

.btn:hover {
    box-shadow: 0px 0px 10px #3E1671;
}